.header {
  width: 100%;
  top: 0;
  z-index: 2;
}
h1,
.home {
  font-size: 20px;
}

h1,
h2,
.home,
button {
  font-family: "Anton", sans-serif;
}
.navbar {
  min-height: 50px;
}
.navbar,
.content-footer,
.personal-projects {
  background: #ff5b4d;
}
.navbar-toggler div {
  width: 40px;
  height: 5px;
  background-color: white;
  margin: 6px 0;
}
.nav-link:hover {
  background: #ff7878 !important;
}
.nav-link {
  color: white !important;
  white-space: nowrap;
}
.hero {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../IMG_3336.jpeg");
  /* Set a specific height */
  min-height: 450px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  // background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.hero h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.content-footer {
  height: 100px;
}

.bullet-list-text {
  margin-top: 0.2rem;
}

.project-image {
  width: 100%;
  height: 300px;
}

.social img {
  width: 40px;
}

.button-download {
  border-radius: 2rem;
  border-color: #222222 !important;
}

.button-download:hover {
  background: #222222 !important;
  color: white !important;
}

.featured-work {
  background: rgb(34, 34, 34);
}

#projects-carousel {
  min-height: 400px;
}

.carousel-control-next,
.carousel-control-prev {
  width: 10% !important;
}

.quote-carousel p {
  max-width: 700px;
  font-size: 1.4em;
}
.quote-author {
  text-transform: uppercase;
  font-size: 0.8em;
  font-weight: 600;
  letter-spacing: 0.2em;
}

.bullet-point-list {
  background: #fff9e9;
  border-top: 6px;
  border-color: #ffd220;
}

@media screen and (max-width: 992px) {
  .navbar {
    min-height: 80px;
  }
  .hero {
    background-size: auto;
  }
}

@media screen and (max-width: 992px) {
  .navbar {
    min-height: 80px;
  }
}
