*, *:before, *:after {
  box-sizing: inherit;
  margin: 0;
}
h1,h2,a,li{
  color: white;
}
.header{
    width: 100%;
    height: 190px;
    background-color: #2098D1;
} 
  .header-name{
    width: 30%;
    float: left;
    margin: 50px;
     h1{
      font-size:40px;
      font-family: 'Merriweather', serif;
    }
    h2{
      font-size: 20px;
      font-family: 'Merriweather', serif;
    }
  }
  .about{
    height: 400px;
    width: 100%;
    margin:0;
    background-color: #f1f2f4;
  }
  .about-content{
    width: 90%;
    height: 300px;
    position: relative;
    top: 12%;
    left: 5%;
    background-color: white;
    font-family: 'Merriweather', serif;
    h1{
      text-align: center;
      color: black;
      padding-top: 5%;   
       }
    p{
      text-align: center;
      padding: 3%;
      width: 90%;
    }
  }
  .featured-work{
    width: 100%;
    height:860px;
    background-color: #f1f2f4;
  }
  #li-wrapper1:hover, #li-wrapper2:hover, #li-wrapper3:hover, #li-wrapper4:hover{
    li{
     background-color: black;
      z-index:1;
      }
      img{
        opacity: .5;
      }
  }
  .app-wrapper{
    list-style: none;
    width: 90%;
    padding: 0 5%;
    li{
    border: solid black 1px;
    width: 49.81%;
    display: inline-block;
    float: left;
    height: 400px;
    }
    li:hover{
    }
    img{
      height: 100%;
      width:100%;
    }
  }
  #app-info1{
    position: absolute;
    width: 45%;

    p{
        opacity: 0;
      }
  }
  #app-info2{
    position: absolute;
    width: 45%;
    left: 50%;

    p{
        opacity: 0;
      }
  }
  #app-info3{
    position: absolute;
    width: 45%;
    top: 1000px;

    p{
        opacity: 0;
      }
  }
  #app-info4{
    position: absolute;
    width: 45%;
    left: 50%;
    top: 1000px;

    p{
        opacity: 0;
      }
  }
  #li-wrapper1:hover #app-info1{
    p{
    font-size: 20px;
    opacity: 1;
    position: relative;
    top: 150px;
    color: white;
    text-align: center;
    padding: 20px;
    }
  }
  #li-wrapper2:hover #app-info2{
     p{
    font-size: 20px;
    opacity: 1;
    position: relative;
    top: 150px;
    color: white;
    text-align: center;
    padding: 20px;
    }
  }
  #li-wrapper3:hover #app-info3{
     p{
    font-size: 20px;
    opacity: 1;
    position: relative;
    top: 100px;
    color: white;
    text-align: center;
    padding: 20px;
    }
  }
  #li-wrapper4:hover #app-info4{
     p{
    font-size: 20px;
    opacity: 1;
    position: relative;
    top: 100px;
    color: white;
    text-align: center;
    padding: 20px;
    }
  }

.nav-elements{
    width: 35%;
    float: right;
    margin: 60px;
  ul{
    list-style-type: none;
  }
  li{
    display: inline-block;
    padding: 15px 20px;
    font-family: 'Merriweather', serif;
    font-size: 20px;
    cursor: pointer;
  }
  li:hover{
   background-color: #a9b3bc;
}
a{
  text-decoration: none;
}
}

.content-footer
{
  height: 200px;
  padding-top: 9%;
  background-color: #2098D1;
  text-align: center;
  clear: left;

p{
    color: white;
    font-family: 'Merriweather', serif;
    font-size: 28px;
  }
}

.social{
    margin: 0;
    margin-top: 1%;
    padding-bottom: 1%;
    padding-left: 0;
  li{
    
    display: inline-block;
    color: black;
    img{
    height: 60px;
    width: 60px;
    }

    img:hover{
      opacity: .5;
    }
  }
}

#google{

  height: 35px !important;
  width: 35px !important;
}
.dropdown{
  display: none;
}

@media only screen and (max-width: 1165px){

  body{
    max-height: 600px;
    background-size: cover;

  }
  .header-name{
    width: 100% !important;;
    margin: 0;
    text-align: center;
  }
  .header-name h1 {
    font-size: 40px;

    h2{
      font-size: 20px;
    }
}
  .dropdown{
    color: #2098D1;
    background-color: white;
    display: block;
    width: 100px;
    height: 50px;
    font-size: 20px;
    margin: 10px auto;
  }
  .nav-elements{
    width: 100%;
    left: 42%;
    margin: 0;
  }
  form{
    float: right;
    padding-right: 10%;
    align-items: center;
  }
  .nav-elements li{
    display: none;
  }
  .name{
    font-size: 70px;
  }
  h2{
    font-size: 30px;
  }
  .featured-work{
    width: 100%;
    height: 1670px;
    background-color: #f1f2f4;
  }
  .app-wrapper{
    margin-top: 0;

    li{
    border: solid black 1px;
    width: 75%;
    display: block;
    height: 400px;
    margin: 0 auto;
    float: none;
    }
  }

.content-footer{

    margin-top: 0;
  }

  #app-info1{
    position: absolute;
    width: 45%;

    p{
        opacity: 0;
      }
  }
    #li-wrapper1:hover #app-info1{
    p{
    font-size: 20px;
    opacity: 1;
    position: relative;
    top: -300px;
    left: 50%;
    color: white;
    text-align: center;
    }
  }
  #app-info2{
    position: absolute;
    width: 45%;

    p{
        opacity: 0;
      }
  }
    #li-wrapper2:hover #app-info2{
     p{
    font-size: 20px;
    opacity: 1;
    position: relative;
    top: -330px;
    right: 50%;
    color: white;
    text-align: center;
    }
  }
    #app-info3{
    position: absolute;
    width: 45%;

    p{
        opacity: 0;
      }
  }
  #li-wrapper3:hover #app-info3{
     p{
    font-size: 20px;
    opacity: 1;
    position: relative;
    top: 440px;
    left: 50%;
    color: white;
    text-align: center;
    }
  }
  #app-info4{
    position: absolute;
    width: 45%;
    left: 28%;
    top: 1750px;

    p{
        opacity: 0;
      }
  }
    #li-wrapper4:hover #app-info4{
     p{
    font-size: 20px;
    opacity: 1;
    position: relative;
    top: 150px;
    color: white;
    text-align: center;
    padding: 20px;
    }
  }



}
@media only screen and (max-width: 850px){
  #li-wrapper1:hover #app-info1, #li-wrapper2:hover #app-info2, #li-wrapper3:hover #app-info3, #li-wrapper4:hover #app-info4{
    p{
      opacity: 0;
    }
  } 
}

